{% extends "tutorial/layout.html" %}
{% block content %}
<h1>Strategy Room Events</h1>
<table class="table">
  <tr>
    <th>Subject</th>
    <th>Start</th>
    <th>End</th>
    <th>Organizer</th>
    <th>Location</th>
    <th>Description</th>
  </tr>

  {% for event in events %}
    <tr>
      <td>{{ event.subject }}</td>
      <td>{{ event.start.dateTime }} ({{ event.start.timeZone }})</td>
      <td>{{ event.end.dateTime }} ({{ event.end.timeZone }})</td>
      <td>{{ event.organizer.emailAddress.name }}</td>
      <td>{{ event.location.displayName }}</td>
      <td>{{ event.bodyPreview }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
